[submodule "ModernHttpServer/http-parser"]
	path = ModernHttpServer/http-parser
	url = https://github.com/nodejs/http-parser
[submodule "ModernHttpServer/TcpServer"]
	path = ModernHttpServer/TcpServer
	url = https://github.com/zhangke96/TcpServer.git
